@mixin box-shadow-bottom() {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

@mixin box-shadow-top() {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.create {
  &--detached-control {
    // offset for footer
    padding-bottom: 60px;
  }

  // child blocks
  &__text-form {
    position: relative;
    background-color: var(--primary-bg-color);
    @include box-shadow-bottom();
    @extend .clearfix;
  }

  &__footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(var(--primary-bg-color), .7);
    @include box-shadow-top();

    &--bg {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: var(--primary-bg-color);
      z-index: -1;
    }

    &--transparent {
      background-color: transparent;
    }
  }

  &__loader {
    position: absolute;
    z-index: 10;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &__select-image {
    @include grid-verticle-break;
  }

  .\--open-source-link {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: -5px;
  }

  .time-group {
    width: 100%;
  }

  .time {
    display: flex;
    justify-content: center;
  }

  .control-label {
    &.\--only-small {
      display: none;
    }
  }

  .pin__map {
    margin-top: 25px;
  }

}

.image-dynamic-grid {
  position: relative;
  display: none;
  padding: 0;

  &.angular-grid {
    display: block;
  }
}

.image-grid {
  position: absolute;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  transition: box-shadow 0.3s ease-out;
  overflow: hidden;
  border-radius: 10px;

  &--selected {
    box-shadow: 0 0 3px 3px #0044FF;
  }

  .ng-leave {
    transition: all ease 400ms;
  }

  .ng-leave.ng-leave-active {
    transform: scale(0.5);
    opacity: 0;
  }

  .ng-enter {
    transition: all ease 400ms;
    transition-delay: 500ms;
    transform: scale(0.5);
    opacity: 0;
  }

  .ng-enter.ng-enter-active {
    transform: scale(1);
    opacity: 1;
  }

  .img-loaded {
    // after image-grid__image loads
    visibility: visible;
    opacity: 1;
  }

  // child blocks
  &__image-container {
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    width: 225px;
    height: 225px;
  }

  &__image {
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
  }

  &__cover_button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.start,
.end {
  z-index: 6;

  input {
    z-index: 5 !important;
  }

}

.sync-to-start {
  margin: 0 auto;
  width: 40px;
}

.glyphicon-arrow-right-down-custom {

  // right arrow
  &:before {
    content: "\e092";
  }
}

twitter-pin {
  display: block;
  min-height: 500px;
}

.twitter-pin-container {
  display: flex;
  justify-content: center;
}

.optional_line_break {
  display: flex;
  justify-content: center;
  border-bottom: 2px dotted var(--primary-link-color-disabled);
  margin-top: -15px;
  margin-bottom: 30px;

  &__label {
    display: inline-block;
    position: relative;
    top: 20px;
    padding: 10px;
    background: var(--primary-bg-color);
  }
}

.content_block {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.merchant-label {
  color: #408ac7;
  width: 130px;
  flex: 1 1 auto;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.merchant-list+.merchant-list {
  margin-bottom: 15px;
}

.merchant-list {
  width: 100%;
  margin-bottom: 0;

  .header {
    .row {
      flex-grow: 1;
    }
  }

  li {
    display: flex;
    border: none;
    margin-bottom: 0;
    flex: 1 1 auto;
    background: var(--primary-bg-color);

    .form-group {
      flex-grow: 1;
    }

    .input-group {
      width: 100%;
    }

    &:last-child {
      border-bottom: none;
    }

    .trash {
      text-decoration: none;
    }

    .trash-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      top: 2px;
    }
  }

  li+li {
    margin-top: 2px;
  }
}

.control-tabs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 5px;
  color: var(--primary-link-color-disabled);

  .control-tab {
    padding: 8px 5px 6px;
    display: flex;
    flex: 1 1 0;
    background-color: var(--header-bg-color);
    border: var(--header-bg-color) 2px solid;
    border-bottom: var(--header-bg-color) 2px solid;

    .control-label {
      margin: 0;
    }
  }

  .control-tab.\--active {
    color: var(--primary-color);
    border-bottom: var(--primary-active-highlight-color) 2px solid;
    background-color: var(--header-bg-color);
  }
}

.footer-image-selector {
  margin: 0 -15px;
}

.use-media-container {
  margin: 20px 0;

  label {
    padding-left: 0;
  }

  input {
    margin-left: 10px !important;
  }
}

.analyzing-url-text {
  display: inline-block;
  margin-left: 8px;
  color: var(--primary-link-color-disabled) // font-size: 14px;
}

.footer-content {
  margin-bottom: 30px;
}

.preview-pin-block {
  max-width: 650px;
  margin: 0 auto;
}

text-editor {
  z-index: 6;
  position: relative;
}

/* Small Devices, Tablets */
@media only screen and (max-width : ($ipad-portrait - 1)) {
  .image-dynamic-grid {
    @include grid-normalize-margin;
  }

  .glyphicon-arrow-right-down-custom {

    // down arrow
    &:before {
      content: "\e094";
    }
  }

  .create {
    .row.\--vertical {
      &>div+div {
        margin-top: 10px;
      }
    }

    .header {
      &.\--merchant {
        display: none;
      }
    }

    .control-label {
      &.\--only-small {
        display: inline-block;
      }
    }

  }

}

.has-error-suggestion {
  @extend .has-error;
}