@mixin box-shadow-bottom() {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

@mixin box-shadow-top() {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.create {
  &--detached-control {
    // offset for footer
    padding-bottom: 60px;
  }

  // child blocks
  &__text-form {
    position: relative;
    background-color: var(--primary-bg-color);
    @include box-shadow-bottom();
    @extend .clearfix;
  }

  &__footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(var(--primary-bg-color), .7);
    @include box-shadow-top();

    &--bg {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: var(--primary-bg-color);
      z-index: -1;
    }

    &--transparent {
      background-color: transparent;
    }
  }

  &__loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &__select-image {
    @include grid-verticle-break;
  }

  .\--open-source-link {
    padding-left: 0;
    padding-right: 0;
    position:absolute; 
    right: 0; 
    top: -5px;
  }
}

.image-dynamic-grid {
  position: relative;
  display: none;
  padding: 0;

  &.angular-grid {
    display: block;
  }
}

.image-grid {
  position: absolute;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  transition: box-shadow 0.3s ease-out;
  overflow: hidden;
  border-radius: 10px;

  &--selected {
    box-shadow: 0 0 3px 3px #0044FF;
  }

  .ng-leave {
    transition: all ease 400ms;
  }

  .ng-leave.ng-leave-active {
    transform: scale(0.5);
    opacity: 0;
  }

  .ng-enter {
    transition: all ease 400ms;
    transition-delay: 500ms;
    transform: scale(0.5);
    opacity: 0;
  }

  .ng-enter.ng-enter-active {
    transform: scale(1);
    opacity: 1;
  }

  .img-loaded {
    // after image-grid__image loads
    visibility: visible;
    opacity: 1;
  }

  // child blocks
  &__image-container {
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    width: 225px;
    height: 225px;
  }

  &__image {
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
  }

  &__cover_button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// .start, .end {
//   z-index: 5;
// }

.sync-to-start {
  margin: 0 auto;
  width: 40px;
}

.glyphicon-arrow-right-down-custom {

  // right arrow
  &:before {
    content: "\e092";
  }
}


.twitter-pin-container {
  display: flex;
  justify-content: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width : ($ipad-portrait - 1)) {
  .image-dynamic-grid {
    @include grid-normalize-margin;
  }

  .glyphicon-arrow-right-down-custom {

    // down arrow
    &:before {
      content: "\e094";
    }
  }
}