<div class="create create---detached-control">
  <div class="create__text-form" id="create__text-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 clearfix">

          <form name="pinForm" class="create__form" ng-submit="$ctrl.submitPin()" novalidate>
            <h1>{{$ctrl.title}}</h1>

            <fieldset ng-disabled="$ctrl.formDisabled">

              <div class="form-group" ng-if="$ctrl.mode === 'respond' ">
                <label for="respondPinTitle" class="control-label">Responding to Pin</label>
                <input name="respondPinTitle" class="form-control" id="respondPinTitle" ng-model="$ctrl.respondPinTitle"
                  required disabled>
              </div>

              <div class="form-group" ng-class="{'has-error' : pinForm.parentId.$invalid && pinForm.parentId.$dirty}"
                ng-if="$ctrl.mode === 'edit' ">
                <!-- Admin -->
                <label for="parentId" class="control-label">Parent Pin ID (Admin)</label>
                <input name="parentId" type="number" class="form-control" id="parentId" ng-model="$ctrl.pin.parentId">
              </div>
              <div style="position: relative;">
                <a href="{{$ctrl.pin.sourceUrl}}" target="_blank" class="btn btn-link --open-source-link">Open Link
                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
                <div class="form-group"
                  ng-class="{'has-error' : pinForm.sourceUrl.$invalid && pinForm.sourceUrl.$dirty}">
                  <label for="sourceUrl" class="control-label">Source Url</label> <span class="analyzing-url-text"
                    ng-if="$ctrl.scraping">(Analyzing Page...)</span>
                  <input name="sourceUrl" type="url" class="form-control" id="sourceUrl"
                    placeholder="https://www.example.com" ng-model="$ctrl.pin.sourceUrl" ng-change="$ctrl.urlChanged()"
                    required>
                </div>

                <div ng-switch="$ctrl.hasScrapedText && $ctrl.scrapingMessage($ctrl.pinSuggestion.title).code == 2">
                  <label ng-switch-when="false" for="title" class="control-label">Title</label>

                  <div class="control-tabs" ng-switch-when="true">
                    <button type="button" class="control-tab control-tab-left"
                      ng-class="{'\--active' : $ctrl.activeTabs['title'] === 0}" ng-click="$ctrl.tabChange('title', 0)">
                      <label for="title" class="control-label">Title</label>
                    </button>
                    <button type="button" class="control-tab control-tab-right"
                      ng-class="{'\--active' : $ctrl.activeTabs['title'] === 1}" ng-click="$ctrl.tabChange('title', 1)"
                      ng-if="$ctrl.hasScrapedText">
                      <label for="title"
                        class="control-label">{{$ctrl.scrapingMessage($ctrl.pinSuggestion.title).message}}</label>
                    </button>
                  </div>
                </div>

                <div class="form-group" ng-class="{'has-error' : pinForm.title.$invalid && pinForm.title.$dirty, 
                  'has-error-suggestion' : pinForm.suggestionTitle.$invalid && pinForm.suggestionTitle.$dirty}">
                  <div ng-switch="$ctrl.activeTabs['title']">
                    <input ng-switch-when="0" name="title" type="text" class="form-control" id="title"
                      placeholder="Add your title" ng-model="$ctrl.pin.title" required maxlength="180">

                    <input ng-switch-when="1" name="suggestionTitle" type="text" class="form-control"
                      id="suggestionTitle" placeholder="Suggested title" ng-model="$ctrl.pinSuggestion.title" required
                      maxlength="180">
                  </div>
                </div>

                <div class="form-group">
                  <div ng-switch="$ctrl.hasScrapedText && $ctrl.scrapingMessage($ctrl.pinSuggestion.title).code == 2">
                    <label ng-switch-when="false" for="description" class="control-label">Content</label>
                    <div class="control-tabs" ng-switch-when="true">
                      <button type="button" class="control-tab control-tab-left"
                        ng-class="{'\--active' : $ctrl.activeTabs['content'] === 0}"
                        ng-click="$ctrl.tabChange('content', 0)">
                        <label for="description" class="control-label">Content</label>
                      </button>
                      <button type="button" class="control-tab control-tab-right"
                        ng-class="{'\--active' : $ctrl.activeTabs['content'] === 1}"
                        ng-click="$ctrl.tabChange('content', 1)" ng-if="$ctrl.hasScrapedText">
                        <label for="description"
                          class="control-label">{{$ctrl.scrapingMessage($ctrl.pinSuggestion.description).message}}</label>
                      </button>
                    </div>
                  </div>

                  <div ng-switch="$ctrl.activeTabs['content']">
                    <text-editor ng-switch-when="0" ng-model="$ctrl.pin.description"></text-editor>
                    <text-editor ng-switch-when="1" ng-model="$ctrl.pinSuggestion.description"></text-editor>
                  </div>
                </div>

                <div class="form-group" style="margin-bottom: 0;">
                  <div class="row">
                    <div class="col-sm-5">
                      <label for="start" class="control-label">Start</label>
                      <div class="input-group start"
                        ng-class="{'has-error' : pinForm.start.$invalid && pinForm.start.$dirty}">
                        <input name="start" type="text" id="start" autocomplete="off" class="form-control"
                          required="true" ng-model="$ctrl.pin.start" ng-change="$ctrl.startChange($ctrl.pin.start)"
                          placeholder="Start Date" uib-datepicker-popup="{{$ctrl.format}}"
                          is-open="$ctrl.datePickerStart.opened" datepicker-options="$ctrl.datePickerStart.options"
                          close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePickerStart()"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>

                      <div ng-show="!$ctrl.pin.allDay" class="input-group time-group"
                        ng-class="{'has-error' : pinForm.startTime.$invalid && pinForm.startTime.$dirty}">
                        <div class="time" name="startTime" uib-timepicker ng-model="$ctrl.pin.start"
                          hour-step="$ctrl.timePickerStart.options.hstep" ng-change="$ctrl.startChange($ctrl.pin.start)"
                          minute-step="$ctrl.timePickerStart.options.mstep"
                          show-meridian="$ctrl.timePickerStart.options.ismeridian"></div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="sync-to-start">
                        <label for="synctostart" class="control-label">&nbsp;</label>
                        <div class="input-group">
                          <button name="synctostart" type="button" class="btn btn-default"
                            ng-click="$ctrl.matchEndDateToStartDate()" title="Use start date"><i
                              class="glyphicon glyphicon-arrow-right-down-custom"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <label for="end" class="control-label">End</label>
                      <div class="input-group end"
                        ng-class="{'has-error' : pinForm.end.$invalid && pinForm.end.$dirty}">
                        <input name="end" type="text" id="end" autocomplete="off" class="form-control" required="true"
                          ng-model="$ctrl.pin.end" ng-change="$ctrl.endChange($ctrl.pin.end)"
                          placeholder="End Date (optional)" uib-datepicker-popup="{{$ctrl.format}}"
                          is-open="$ctrl.datePickerEnd.opened" datepicker-options="$ctrl.datePickerEnd.options"
                          close-text="Close" alt-input-formats="$ctrl.altInputFormats" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePickerEnd()"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>

                      <div ng-show="!$ctrl.pin.allDay" class="input-group time-group"
                        ng-class="{'has-error' : pinForm.endTime.$invalid && pinForm.endTime.$dirty}">
                        <div class="time" name="endTime" uib-timepicker ng-model="$ctrl.pin.end"
                          hour-step="$ctrl.timePickerEnd.options.hstep" ng-change="$ctrl.endChange()"
                          minute-step="$ctrl.timePickerEnd.options.mstep"
                          show-meridian="$ctrl.timePickerEnd.options.ismeridian"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-9">
                      <button type="button" class="btn btn-link" ng-click="$ctrl.toggleTimePicker()">
                        <span ng-switch="!$ctrl.pin.allDay">
                          <span ng-switch-when="false">Add Time</span>
                          <span ng-switch-when="true">Remove Time</span>
                        </span>
                      </button>
                    </div>
                    <div class="col-xs-3">
                      <button type="button" class="btn btn-link pull-right" disabled="disabled">
                        <span>
                          <span ng-bind="$ctrl.getTimeZoneName()"></span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- <div class="optional_line_break"><span class="optional_line_break__label">Optional</span></div> -->

                <div class="content_block">
                  <label for="location" class="control-label location-label">Location</label>
                  <ul class="list-group merchant-list" ng-sortable=$ctrl.sortableConf>

                    <li class="list-group-item" ng-repeat="location in $ctrl.pin.locations track by $index">

                      <!-- Location Elements -->
                      <div class="form-group">
                        <div class="row">

                          <div class="col-xs-11">
                            <div class="input-group"
                              ng-class="{'has-error' : pinForm['location' + $index].$invalid && pinForm['location' + $index].$dirty}">
                              <div class="input-group-addon location-addon"><i class="fa fa-map-marker"
                                  aria-hidden="true"></i><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                              <input name="{{'location' + $index}}" type="text" class="form-control"
                                id="{{'location' + $index}}" placeholder="Location (optional) eg: San Francisco, CA"
                                ng-model="location.address" ng-required="$ctrl.pin.locations.length != 1">
                            </div>
                          </div>

                          <div class="col-xs-1 trash-container">
                            <a ng-click="$ctrl.removeLocation(location)" class="trash"><span
                                class="fa fa-trash fa-2x"></span></a>
                          </div>

                        </div>
                      </div>

                    </li>
                  </ul>

                  <button type="button" class="btn btn-link" ng-click="$ctrl.addLocation()">
                    <span>Add location</span>
                  </button>


                  <!-- Google Map-->
                  <div class="pin__map embed" ng-if="$ctrl.hasAddress()">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                      referrerpolicy="no-referrer-when-downgrade" ng-src="{{$ctrl.getGoogleMapUrl()}}">
                    </iframe>
                  </div>
                </div>

                <div class="form-group">
                  <label for="price" class="control-label">MSRP Price</label>
                  <div class="input-group" ng-class="{'has-error' : pinForm.price.$invalid && pinForm.price.$dirty}">
                    <div class="input-group-addon">$</div>
                    <input name="price" type="number" class="form-control" id="price"
                      placeholder="MSRP Price (optional)" ng-model="$ctrl.pin.price" ng-pattern="/^-?\d*\.?\d{0,2}$/" />
                    <div class="input-group-addon" ng-click="$ctrl.multPrice(1000)">K</div>
                    <div class="input-group-addon" ng-click="$ctrl.multPrice(1000000)">M</div>
                    <div class="input-group-addon" ng-click="$ctrl.multPrice(1000000000)">B</div>
                    <div class="input-group-addon" ng-click="$ctrl.multPrice(1000000000000)">T</div>
                  </div>

                  <div class="content_block">

                    <ul class="list-group merchant-list" ng-if="!!$ctrl.pin.merchants.length">

                      <li class="list-group-item header --merchant">
                        <div class="row">
                          <div class="col-sm-2">
                            Merchant Price
                          </div>
                          <div class="col-sm-4">
                            Merchant Label
                          </div>
                          <div class="col-sm-5">
                            Merchant Url
                          </div>
                          <div class="col-sm-1"></div>
                        </div>
                      </li>

                      <li class="list-group-item" ng-repeat="merchant in $ctrl.pin.merchants track by $index">
                        <div class="form-group">
                          <div class="row  --vertical">

                            <div class="col-sm-2">
                              <label for="{{'merchantPrice' + $index}}" class="control-label --only-small">{{$index+1}}.
                                Merchant
                                Price</label>

                              <div class="input-group"
                                ng-class="{'has-error' : pinForm['merchantPrice' + $index].$invalid && pinForm['merchantPrice' + $index].$dirty}">
                                <div class="input-group-addon">$</div>
                                <input name="{{'merchantPrice' + $index}}" type="number" class="form-control"
                                  id="{{'merchant' + $index}}" placeholder="Price" ng-model="merchant.price"
                                  ng-pattern="/^-?\d*\.?\d{0,2}$/" required>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <label for="{{'merchantLabel' + $index}}" class="control-label --only-small">{{$index+1}}.
                                Merchant Label</label>

                              <div class="input-group"
                                ng-class="{'has-error' : pinForm['merchantLabel' + $index].$invalid && pinForm['merchantLabel' + $index].$dirty }">
                                <input name="{{'merchantLabel' + $index}}" type="text" class="form-control"
                                  id="{{'merchant' + $index}}" placeholder="Merchant Collector's Edition"
                                  ng-model="merchant.label" required>
                              </div>
                            </div>

                            <div class="col-sm-5">
                              <label for="{{'merchant' + $index}}" class="control-label --only-small">{{$index+1}}.
                                Merchant Url</label>

                              <div class="input-group"
                                ng-class="{'has-error' : pinForm['merchantUrl' + $index].$invalid && pinForm['merchantUrl' + $index].$dirty }">
                                <input name="{{'merchantUrl' + $index}}" type="text" class="form-control"
                                  id="{{'merchant' + $index}}" placeholder="https://www.merchant.com/game"
                                  ng-model="merchant.url"
                                  ng-pattern="/https?:\/\/([-a-zA-Z0-9\u1F60-\uFFFF\u1F60-\uFFFF\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F@:%._\+~#=]{1,256})\.([a-zA-Z][a-zA-Z0-9\u1F60-\uFFFF\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\u0370-\u03ff\u1f00-\u1fff\u0400-\u04ff()-]{1,62})\b([\/#][-a-zA-Z0-9\u1F60-\uFFFF\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u024F\u0370-\u03ff\u1f00-\u1fff\u0400-\u04ff\u0900-\u097F\u0600-\u06FF\u0985-\u0994\u0995-\u09a7\u09a8-\u09ce\u0981\u0982\u0983\u09e6-\u09ef\u0750-\u077F\uFB50-\uFDFF\uFE70-\uFEFF\u4E00-\u9FFFẸɓɗẹỊỌịọṢỤṣụ()@:%_\+.~#?&//=\[\]!\$'*+,;]*)?/"
                                  required>
                              </div>
                            </div>

                            <div class="col-sm-1 trash-container">
                              <a ng-click="$ctrl.removeMerchantPrice(merchant)" class="trash"><span
                                  class="fa fa-trash fa-2x"></span></a>
                            </div>

                          </div>
                        </div>
                      </li>
                    </ul>

                    <button type="button" class="btn btn-link" ng-click="$ctrl.addMerchantPrice()">
                      <span>Add price for merchant</span>
                    </button>

                  </div>

                  <div class="footer-content">
                    <div class="control-tabs">
                      <button type="button" class="control-tab control-tab-left"
                        ng-class="{'\--active' : $ctrl.activeTabs['footer'] === 0}"
                        ng-click="$ctrl.tabChange('footer', 0)">
                        <label for="previewPin" class="control-label">Preview Pin</label>
                      </button>
                      <button type="button" class="control-tab control-tab-right"
                        ng-class="{'\--active' : $ctrl.activeTabs['footer'] === 1}"
                        ng-click="$ctrl.tabChange('footer', 1)" ng-if="$ctrl.hasScrapedImage">
                        <label for="suggestedImage" class="control-label">{{$ctrl.scrapingMediaMessage()}}</label>
                      </button>
                    </div>

                    <div class="use-media-container checkbox">
                      <label>
                        Use Heading Image
                        <input id="useMedia" name="useMedia" type="checkbox" ng-model="$ctrl.pin.useMedia" value="true">
                      </label>
                    </div>

                    <div class="preview-pin-block" ng-if="$ctrl.activeTabs['footer'] === 0">
                      <pin-block pin="$ctrl.getPreviewPin()" config="$ctrl.appConfig" disabled></pin-block>
                    </div>

                    <div class="footer-image-selector" ng-if="$ctrl.activeTabs['footer'] === 1">
                      <!-- Switch between image / iframe / tweets -->
                      <div class="grid__media container --create-pin" ng-switch="$ctrl.pinSuggestion.type">

                        <div class="create__select-image" ng-switch-when="web">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-lg-12 clearfix">
                                <ul class="image-dynamic-grid" angular-grid="$ctrl.pinSuggestion.media" gutter-size="10"
                                  grid-width="250" refresh-on-img-load="false">
                                  <li data-ng-repeat="medium in $ctrl.pinSuggestion.media" class="image-grid"
                                    ng-class="{'image-grid--selected': medium === $ctrl.pin.selectedMedia }"
                                    ng-click="$ctrl.selectMedia(medium)" ng-switch="medium.type">

                                    <img ng-src="{{medium.originalUrl}}" class="image-grid__image"
                                      data-actual-width="{{medium.originalWidth}}"
                                      data-actual-height="{{medium.originalHeight}}"
                                      title="{{medium.originalWidth}} x {{medium.originalHeight}}" ng-switch-when="1" />

                                    <twitter-pin ng-switch-when="2" html="{{medium.html}}">
                                    </twitter-pin>

                                    <div class='embed-container --margin-top-bottom' ng-switch-when="3"
                                      ng-bind-html="medium.html" data-actual-width="400" data-actual-height="270">
                                    </div>

                                    <!-- Just need detection cover-->
                                    <div class="image-grid__cover_button"
                                      ng-hide="medium.type === 1 || medium === $ctrl.pin.selectedMedia">
                                    </div>

                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <twitter-pin ng-switch-when="twitter" html="{{$ctrl.pin.selectedMedia.html}}">
                        </twitter-pin>

                        <div class='embed-container --margin-top-bottom' ng-switch-when="youtube"
                          ng-bind-html="$ctrl.pin.selectedMedia.html">
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group create-footer" ng-if="!$ctrl.showCreateFooter">
                    <div class="row">
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.scrapePage($ctrl.pin.sourceUrl)"
                          ng-if="$ctrl.mode === 'edit'">Scrape</button>
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.scrapeImage($ctrl.pin.sourceUrl)"
                          ng-if="$ctrl.mode === 'edit'">Scrape Image</button>
                      </div>
                      <div class="col-sm-8">
                        <div class="pull-right">
                          <button type="button" class="btn btn-warning" ui-sref="main">Cancel</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </fieldset>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="create__loader" ng-if="$ctrl.formDisabled">
    <loader-pac></loader-pac>
  </div>
</div>

<div class="create__footer--bg" ng-class="{'create__footer--transparent': !$ctrl.showCreateFooter}" overlap
  on-overlap="$ctrl.checkOverlapped($event)" overlap-id="'create__text-form'">
</div>

<div id="create-footer" class="create__footer" ng-if="$ctrl.showCreateFooter">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.scrapePage($ctrl.pin.sourceUrl)"
          ng-if="$ctrl.mode === 'edit'">Scrape</button>
      </div>
      <div class="col-sm-8">
        <div class="pull-right">
          <button type="button" class="btn btn-warning" ui-sref="main">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>

</div>