{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "22"
        }
      }
    ]
  ],
  "overrides": [
    {
      "test": [
        "./client"
      ],
      "passPerPreset": true,
      "plugins": [
        "angularjs-annotate"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "ie 11"
          }
        ]
      ]
    }
  ]
}
