node_modules
public
.tmp
.scrape
.sass-cache
.idea
client/bower_components
server/config/environment/development.js
server/config/environment/production.backup.js
npm-debug.log
coverage
dev.sqlite
test.sqlite
.DS_Store

dist

.terraform

chronopin_docker
chronopin_docker\.pub

env.*.list

kube/config-map-prod
kube/pod-preset-prod.yaml

scripts/backup/seedUsers.json
