/*Floating Back-To-Top Button*/
#scrollHomeBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 55px;
    line-height: 1.6em;
    font-size: .8em;
    font-weight: bold;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #FFF;
    color: #000;
    padding: 7px 5px;
    border-radius: 20px;
    opacity: 0.75;
}

/*On Hover Color Change*/
#scrollHomeBtn:hover {
    background-color: #7dbbf1;
}