<div class="pin">
  <div class="pin__preview">

    <div class="pin__panel" ng-if="$ctrl.pinReady">

      <!-- Switch between image / iframe / tweets -->
      <div class="grid__media" ng-switch="$ctrl.pin.media[0].type">

        <div ng-switch-when="1">
          <a class="pin__asset pin__asset--link" ng-if="$ctrl.pin.media[0].thumbName" ng-href="{{$ctrl.pin.sourceUrl}}"
            target="_blank">
            <img ng-src="{{$ctrl.appConfig.thumbUrlPrefix + $ctrl.pin.media[0].thumbName}}" class="pin__image"
              data-actual-width="{{$ctrl.pin.media[0].thumbWidth}}"
              data-actual-height="{{$ctrl.pin.media[0].thumbHeight}}" />
          </a>
        </div>

        <twitter-pin ng-switch-when="2" html="{{$ctrl.pin.media[0].html}}">
        </twitter-pin>

        <div class='embed-container' ng-switch-when="3" ng-bind-html="$ctrl.pin.media[0].html">
        </div>

        <!-- <div ng-switch-default>
      </div> -->
      </div>


      <div class="grid__body">

        <div class="grid__meta">
          <div class="headline-above --clear-margin">
            <time class="" datetime="{{$ctrl.pin.utcCreatedDateTime}}">Posted {{$ctrl.pin.utcCreatedDateTime | date :
              "MM/dd/yyyy
              'at' h:mm a" | lowercase}}</time>
            <span class="rubric">{{$ctrl.pin.user.userName}}</span>
          </div>
          <div class="grid__uploaded-date --clear-margin" ng-switch="$ctrl.pin.allDay">
            <span ng-switch-when="true">
              <em>
                <span>Starts {{$ctrl.pin.utcStartDateTime | date:"MM/dd/yyyy"}}</span>
                <span> - All day</span>
              </em>
            </span>
            <em ng-switch-default>
              <span>Starts {{$ctrl.pin.utcStartDateTime | date:"MM/dd/yyyy h:mma"}}</span>
              <span ng-if="$ctrl.pin.utcEndDateTime">to {{$ctrl.pin.utcEndDateTime | date:"MM/dd/yyyy h:mma"}}</span>
            </em>
          </div>
        </div>

        <h4 class="grid__heading">
          <a href="{{$ctrl.pin.sourceUrl}}" target="_blank">
            {{$ctrl.pin.title}}
          </a>
        </h4>
        <div class="grid__description">
          {{$ctrl.pin.description}}
        </div>
        <div class="grid__footer">
          <div class="grid__price" ng-class="{'grid__price--negative': $ctrl.pin.price < 0}" ng-if="$ctrl.pin.price">
            {{$ctrl.pin.price | money}}</div>

          <div class="grid__social">
            <div class="grid__watch" ng-switch="!!$ctrl.pin.hasFavorite">
              <button type="button" class="grid__favorite --add" ng-click="$ctrl.addFavorite($ctrl.pin)"
                ng-switch-default><i class="fa fa-eye" aria-hidden="true"></i> {{pin.favoriteCount}}</button>
              <button type="button" class="grid__favorite --remove" ng-click="$ctrl.removeFavorite($ctrl.pin)"
                ng-switch-when="true"><i class="fa fa-eye" aria-hidden="true"></i> {{pin.favoriteCount}}</button>
            </div>

            <div class="grid__likes">
              <div fb-like page-href="{{$ctrl.pin.sourceUrl}}">
                <loader-pulse-bubble></loader-pulse-bubble>
              </div>
            </div>

            <div class="grid__tip" ng-if="$ctrl.isAdmin()">
              <button class="btn btn-link" ui-sref="update({id:$ctrl.pin.id})"><i class="fa fa-pencil"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="pin__comment">

    <comment-post comment-url="{{'/pin/'+$ctrl.pin.id}}" title="{{$ctrl.pin.title}}"></comment-post>

  </div>

</div>

<div class="page_loading" ng-if="!$ctrl.pinReady">
  <h3 class="text-muted">
    <loader-pac></loader-pac>
    <!-- loading... -->
  </h3>
</div>

<div class="pin_suggestions">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 clearfix">

        <ul class="dynamic-grid" angular-grid="$ctrl.pinsQuery" cssGrid="true" ag-refresh-on-img-load="false"
          ag-reflowed="$ctrl.reflowed($event)">
          <li id="{{pin.id}}" class="grid" data-ng-repeat="pin in $ctrl.pinsQuery">

            <pin-block pin="pin" config="$ctrl.appConfig"></pin-block>

          </li>
        </ul>

      </div>
    </div>
  </div>

</div>