$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import './data';
/**
 * App-wide Styles
 */

// iPhone breakpoints
$iphone-6-portrait: 375px;
$iphone-6-landscape: 667px;

$iphone-6-plus-portrait: 414px;
$iphone-6-plus-landscape: 736px;

// iPad breakpoints
$ipad-portrait: 768px;
$ipad-landscape: 1024px;

$outer-container-bg: #fff;
$nav-offset: 50px;
$nav-offset-collapsed: 102px;

// fonts
@font-face {
    font-family: AstronomicSignsSt;
    src: url(../assets/fonts/Astronomic_Signs_St.ttf);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// :root, .body, .view
// {
//   height: 100%;
// }

.body {
  //adds padding for fix navbar-main
  padding-top: 51px;
  background-color: rgba(200, 200, 200, 0.6);
}

.view {
  position: relative;
}

img {
  border: 0;
  max-width: 100%;
  min-width: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-horizontal-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_message, .page_loading {
  @extend .vertical-horizontal-align;
  position: fixed;
  top: $nav-offset;
  bottom: 0;
  left: 0;
  right: 0;
}

// Override / extend bootstrap defaults
.form-control__clear-texbox {
  @extend .glyphicon;
  @extend .glyphicon-remove;
  @extend .form-control-feedback;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.5;
  top: auto;
  bottom: 0;
  z-index: 5;
}

// extend dosn't work inside media queries
@mixin grid-verticle-break {
  padding: 15px 0 0;
}

@mixin grid-normalize-margin {
  margin: 0 -13px;
}

@media only screen and (max-width : $ipad-portrait) {
  .navbar-form {
    margin: 0;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'account/login/login.scss';
@import 'account/settings/settings.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'create/create.scss';
@import 'data.scss';
@import 'main/main.scss';
@import 'pin/pin.scss';
@import 'search/search.scss';
@import 'watch/watch.scss';
@import '../components/footer/footer.scss';
@import '../components/loader/loader-pac/loader-pac.scss';
@import '../components/loader/loader-pulse-bubble/loader-pulse-bubble.scss';
@import '../components/loader/loader-ripple/loader-ripple.scss';
@import '../components/modal-scroller/modal-backdrop.scss';
@import '../components/modal-scroller/modal/modal-box.scss';
@import '../components/modal-scroller/modal/shared/pin-form.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
@import '../components/pin-block/pin-block.scss';
@import '../components/time-block/time-block.scss';
/* endinject */
