<div class="usercomments__item">
  <div ng-if="!$ctrl.comment.$editing">
    <user-avatar class="usercomments__avatar" aria-hidden="true" user-name="$ctrl.comment.userName"
      picture-url="$ctrl.comment.userPictureUrl"></user-avatar>
    <span class="usercomments__author">{{$ctrl.comment.userName}}</span>
    <span class="usercomments__text" ng-bind-html="$ctrl.comment.text"></span>
    <button type="button" class="btn btn-link usercomments__reply" ng-if="$ctrl.pageCtrl.canReply($ctrl.comment)"
      ng-click="$ctrl.pageCtrl.startReply($ctrl.comment)" title="Reply">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-link usercomments__edit" ng-if="$ctrl.pageCtrl.canEditComment($ctrl.comment)"
      ng-click="$ctrl.pageCtrl.startEditComment($ctrl.comment)" title="Edit comment">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-link usercomments__remove"
      ng-if="$ctrl.pageCtrl.canRemoveComment($ctrl.comment)"
      ng-click="$ctrl.pageCtrl.removeComment($ctrl.pin, $ctrl.comment, $ctrl.parent)" title="Delete comment">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>

  <form class="usercomments__form" ng-if="$ctrl.comment.$editing"
    ng-submit="$ctrl.pageCtrl.saveEditComment($ctrl.pin, $ctrl.comment)">
    <textarea class="form-control usercomments__input" ng-model="$ctrl.comment.$editText"></textarea>
    <div class="usercomments__edit-actions">
      <button type="button" class="btn btn-link" ng-click="$ctrl.pageCtrl.cancelEditComment($ctrl.comment)">Cancel</button>
      <button type="submit" class="btn btn-primary usercomments__submit">Save</button>
    </div>
  </form>

  <form class="usercomments__form usercomments__reply-form" ng-if="$ctrl.comment.$replying"
    ng-submit="$ctrl.pageCtrl.submitReply($ctrl.pin, $ctrl.comment)">
    <textarea class="form-control usercomments__input" ng-model="$ctrl.comment.$replyText"
      placeholder="Write a reply..."></textarea>
    <div class="usercomments__edit-actions">
      <button type="button" class="btn btn-link" ng-click="$ctrl.pageCtrl.cancelReply($ctrl.comment)">Cancel</button>
      <button type="submit" class="btn btn-primary usercomments__submit">Reply</button>
    </div>
  </form>

  <ul class="usercomments__list usercomments__replies" ng-if="$ctrl.comment.replies.length">
    <li ng-repeat="reply in $ctrl.comment.replies track by reply.id">
      <pin-comment comment="reply" pin="$ctrl.pin" parent="$ctrl.comment" page-ctrl="$ctrl.pageCtrl"></pin-comment>
    </li>
  </ul>
</div>
