<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="nav-container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed" ng-if="nav.showLogo()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="/" class="navbar-brand" ng-click="nav.clearSearch()" ng-class="{'--collapse': !nav.showLogo()}">Chronopin</a>

      <form class="navbar-form navbar-left" autocomplete="off" ng-submit="nav.submitSearch(nav.search, nav.searchChoice.value)">

        <div class="search-group">
          <!-- <span class="" ng-if="nav.search" title="Algolia Search"></span> -->
          <fieldset class="search-box-container">
            <input type="text" name="search" id="search" class="search-control --show-icon" ng-class="{'--right-radius-none': nav.isLoggedIn()}"
              placeholder="Search" ng-model="nav.search" ng-model-options="{ debounce: 100 }" ng-change="nav.autoComplete(nav.search, nav.searchChoice.value)"
              ng-click="nav.showAutoComplete($event)" ng-focus="nav.searhFocusToggle(true)" ng-blur="nav.searhFocusToggle(false)">

            <auto-complete title="title" prompt="Start typing a US state" suggestions="nav.suggestions" show="nav.showSuggestions"
              on-select="nav.onAutoCompleteSelect($event)" on-dismiss="nav.dismissAutoComplete()" class="auto-complete">
            </auto-complete>

            <span class="glyphicon glyphicon-search form-control__texbox_icon" aria-hidden="true"></span>
            <span class="form-control__clear-texbox" ng-if="nav.search" ng-click="nav.clearSearchToMain()"></span>
          </fieldset>

          <fieldset class="input-group-btn search-dropdown" uib-dropdown ng-if="nav.isLoggedIn()">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" uib-dropdown-toggle>{{nav.searchChoice.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>

              <li ng-repeat="choice in nav.searchChoices">
                <a data-choice="choice" ng-click="nav.searchChange(choice)">{{choice.name}}</a>
              </li>

            </ul>
          </fieldset>

        </div>
      </form>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <!-- <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="nav.isAdmin()" ui-sref-active="active">
          <a ui-sref="admin">Admin</a>
        </li>

        <li ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="create">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
        <!-- <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="main.modalScroller.addPin"><span class="glyphicon glyphicon-star-empty"></span></a></li> -->
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="login">Login</a>
        </li>
        <li class="dropdown user-setting" ng-show="nav.isLoggedIn()" uib-dropdown keyboard-nav>
          <a type="button" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
            {{ nav.getCurrentUserName() }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li ui-sref-active="active" role="menuitem" ng-if="nav.isAdmin()">
              <a ui-sref="referral">
                <span class="glyphicon glyphicon-piggy-bank"></span> Referral</a>
            </li>
            <!-- <li ui-sref-active="active" role="menuitem">
              <a ui-sref="watch">
                <span class="glyphicon glyphicon-heart"></span> My Board</a>
            </li> -->
            <li ui-sref-active="active" role="menuitem">
              <a ui-sref="settings">
                <span class="glyphicon glyphicon-cog"></span> Password</a>
            </li>
            <li class="divider" role="separator"></li>
            <li ui-sref-active="active" role="menuitem">
              <a href="#">Settings</a>
            </li>
          </ul>
        </li>
        <!-- <li class="divider" role="separator"></li> -->
        <li ng-show="nav.isLoggedIn()">
          <a ui-sref="logout">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</div>