.nav-container {
    @extend .container-fluid;
    display: flex;
}

.navbar-header {
    display: flex;
    flex-grow: 1;
    float: none;
    flex-basis: 700px;
}

.navbar-toggle {
    order: 3;
    height: 34px;
}

.navbar-form {
    border: 0;
    padding: 0;
    margin: 8px !important;
    flex-grow: 1;
}

.navbar-collapse {
    flex-shrink: 0;
}

.search-group {
    @extend .input-group;
    @extend .form-group;
    @extend .has-feedback;
    width: 100%;
}

.search-box-container {
    position: relative;
}

.search-control {
    @extend .form-control;
    width: 100% !important;
    border: none;
    background-color: #eee;
    border-radius: 4px !important;

    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 1);
    }

    &.\--right-radius-none {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    &.\--show-icon {
        padding-left: 35px;
    }
}

.search-dropdown {
    width: 1% !important;
}

.form-control__texbox_icon {
    position: absolute;
    font-size: 19px;
    color: darkgray;
    //background: lightgray url("/assets/images/algolia-mark-blue.png") no-repeat left top;
    //background-size: cover;
    width: 25px;
    height: 25px;
    top: 7px;
    left: 9px;
    z-index: 5;
}

.navbar-main {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%; //box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    .navbar {
        margin: 0;
        padding: 0 10px;
        border-bottom: 2px solid;
    }
    .navbar-default {
        background-color: #fff;
        border-color: #e7e7e7;
    }
}

@media only screen and (max-width: $ipad-portrait) {
    .nav-container {
        flex-wrap: wrap;
    }
    .navbar-collapse {
        flex-grow: 1;
    }
}