// // Timeline
// /** timeline box structure **/
$timeline-base-bg: #414141;
$timeline-date-bg: $timeline-base-bg;
$timeline-countdown-bg: lighten($timeline-base-bg, 20%);
$timeline-trivia-bg: #6e7a73;
$timeline-countdown-today-bg: #999966;
$timeline-countdown-color: #ededed;
$timeline-header-color: #111;
$timeline-content-color: #555;
// Grid
$grid-max-width-mobile: $iphone-6-landscape;
$grid-max-width-screen: $iphone-6-landscape / 2;
@mixin tab-arrow($size, $bg-color) {
    position: absolute;
    top: 0;
    right: -$size;
    display: inline-block;
    border-top: $size solid transparent;
    border-left: $size solid $bg-color;
    border-right: 0 solid $bg-color;
    border-bottom: $size solid transparent;
    content: " ";
    padding: 1px 0 1px 1px;
}

.main {
    background-color: $outer-container-bg;
    padding-left: calc(env(safe-area-inset-left) * (2/3));
    padding-right: calc(env(safe-area-inset-right) * (2/3));
}

.timeline {
    @mixin right-arrow($timeline-tag-bg) {
        &::after {
            @include tab-arrow(1em, $timeline-tag-bg);
        }
    }
    @mixin date_tags($timeline-tag-bg, $timeline-color) {
        display: block;
        width: 95px;
        margin: 0 auto;
        padding: 5px 0;
        font-weight: bold;
        text-align: center;
        position: absolute;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
        background: $timeline-tag-bg;
        color: $timeline-color;
        @for $i from 1 to 9 {
            // runs up to 9 - 1
            &.\--#{$i} {
                top: 23px + (42px * ($i - 1));
                z-index: 8 - $i;
            }
        }
        @include right-arrow($timeline-tag-bg);
    }
    @include grid-verticle-break;
    list-style: none;
    position: relative;
    transition: all 0.6s ease-out;
    &__group-container {
        padding: 0.1px; // margin collapsing prvention
        position: relative;
        margin-top: 10px;
    }
    &__date {
        @include date_tags($timeline-date-bg, $timeline-countdown-color);
        color: #ededed;
    }
    &__countdown {
        @include date_tags($timeline-countdown-bg, $timeline-countdown-color);
        color: #ededed;
        &--today {
            @include date_tags($timeline-countdown-today-bg, $timeline-countdown-color);
        }
    }
    &__trivia {
        @include date_tags($timeline-trivia-bg, $timeline-countdown-color);
    }
    &__group-section {
        list-style: none;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        padding: 0.1px; // margin collapsing prvention
        /** offset timeline__panel margin **/
        margin: 0 0 0 (190px - 20px);
        &.\--placeholder {
            min-height: 120px;
            position: relative;
            top: 30px;
        }
    }
    /** timeline circle icons **/
    &__circle {
        position: absolute;
        top: 23px;
        left: 140px;
        text-align: center;
        background: #6a8db3;
        color: #fff;
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-left: -16px;
        border: 3px solid #90acc7;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        z-index: 90;
    }
    /** timeline verticle line **/
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        width: 3px; // background-color: #eee;
        border-left: 3px solid #eee;
        left: 140px;
        margin-left: -1.5px;
        content: " ";
    }
    &__tag {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 3px 0 3px;
        line-height: 1em;
        width: 95px + 5px;
        position: relative;
        z-index: 1;
    }
}

$bag-font-color: #515151;
.bag {
    padding-bottom: 1px;
    &_title {
        font-weight: bold;
        color: $bag-font-color;
    }
    &_description {
        color: $bag-font-color;
        margin-bottom: 7px;
    }
}

.grid {
    box-sizing: border-box;
    transition: all 0.6s ease-out;
    list-style: none;
    box-sizing: border-box;
    transition: all 400ms ease;
    &.\--timeline {
        display: inline-block;
        vertical-align: top;
        margin: 0px 5px 5px; //margin-left: -10px;
        width: calc(50% - 10px);
        max-width: $grid-max-width-screen;
        position: relative;
        padding-bottom: 13px;
    }
    /** timeline panels **/
    &__panel {
        background: #fff; //border: 1px solid #d4d4d4;
        padding: 7px 15px 15px;
        position: relative;
        border-radius: 8px; //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        &:focus,
        &:hover {
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
            .grid__heading {
                text-decoration: underline;
            }
        }
    }
    /** panel arrows **/
    // &:first-child .grid__panel:not(.grid__panel--plain):after {
    //   position: absolute;
    //   top: 27px;
    //   left: -15px;
    //   display: inline-block;
    //   border-top: 14px solid transparent;
    //   border-right: 14px solid #ccc;
    //   border-left: 0 solid #ccc;
    //   border-bottom: 14px solid transparent;
    //   content: " ";
    // }
    /** timeline content **/
    &__heading {
        margin: 0 0 15px;
        color: $timeline-header-color;
        font-size: 20px;
        line-height: 23px;
        font-family: GeorgiaProCondSemiBold, Georgia, serif; // &_link:focus, &_link:hover {
        //   text-decoration: none;
        // }
        a {
            color: inherit;
        }
    }
    &__description {
        color: #333;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
    }
    /** search and sort section css end ***/
    /*** description section css ***/
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 0;
        justify-content: flex-end;
    }
    &__uploaded-date {
        margin: 5px 0;
        @extend .small;
        @extend .text-muted;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__price {
        flex-grow: 1;
        color: green;
        &--negative {
            color: brown;
        }
    }
    &__favorite--add {
        @extend .btn;
        @extend .btn-link;
        color: $timeline-content-color;
        letter-spacing: 3px;
        &:hover {
            text-decoration: none;
        }
    }
    &__favorite--remove {
        @extend .btn;
        @extend .btn-link;
        letter-spacing: 3px;
        &:hover {
            text-decoration: none;
        }
    }
    &__likes {
        margin-left: 2px;
        min-width: 20px;
    }
    &__like--add {
        @extend .btn;
        @extend .btn-link;
        color: $timeline-content-color;
    }
    &__like--remove {
        @extend .btn;
        @extend .btn-link;
    }
    &__asset {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        max-height: 450px;
        overflow-y: hidden;

        &--link {
            cursor: zoom-in;
        }
    }
    &__image {
        width: auto;
        object-fit: cover;
    }
    &__body {
        margin-bottom: -10px;
    }
    &.ng-leave {
        transition: all ease 400ms;
        &.ng-leave-active {
            transform: scale(0.5);
            opacity: 0;
        }
    }
    &.ng-enter {
        transition: all ease 400ms;
        transition-delay: 500ms;
        transform: scale(0.5);
        opacity: 0;
        &.ng-enter-active {
            transform: scale(1);
            opacity: 1;
        }
    }
}


/*
  http://www.fontspace.com/southype/astronomic-signs-st
  https://www.pinterest.com/pin/278308451947434235/?autologin=true
*/

.astro {
    opacity: 0.8;
    font-family: AstronomicSignsSt;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: 3px;
    font-size: 1.1em;
    font-style: normal;
    &-sun {
        bottom: 4px;
        &::before {
            content: "B";
        }
    }
    &-mon {
        bottom: 4px;
        &::before {
            content: "A";
        }
    }
    &-tue {
        bottom: 4px;
        &::before {
            content: "E";
        }
    }
    &-wed {
        bottom: 2px;
        &::before {
            content: "D";
        }
    }
    &-thu {
        &::before {
            content: "F";
        }
    }
    &-fri {
        &::before {
            content: "C";
        }
    }
    &-sat {
        &::before {
            content: "G";
        }
    }
}

.rubric {
    color: $timeline-header-color;
    &:before {
        content: ' / ';
        display: inline;
        padding-left: 3px;
        padding-right: 6px;
    }
}

.headline-above {
    color: lighten($timeline-content-color, 10%);
    font-size: 10px;
    margin-bottom: 4px;
}


/** media queries **/

$timeline-ipad-landscape-top-alignment: -45px;
$timeline-ipad-landscape-left-alignment: 95px;
@mixin tag-alignment($top-alignment, $left-shift) {
    @for $i from 1 to 9 {
        // runs up to 9 - 1
        &.\--#{$i} {
            top: $top-alignment;
            left: ($i - 1) * $left-shift;
            z-index: 8 - $i;
            @if $i>1 {
                padding-left: 10px;
                padding-right: -10px;
            }
        }
    }
}

@media (max-width: $ipad-landscape) {
    .timeline {
        padding: 2px 0;
        @include grid-normalize-margin;
        &__group-section {
            margin: 0 4px 3px 10px;
            &.\--placeholder {
                min-height: 30px;
                top: 0;
            }
        }
        &__group-container {
            margin-top: 45px;
        }
        &__date {
            @include tag-alignment($timeline-ipad-landscape-top-alignment, $timeline-ipad-landscape-left-alignment);
            margin-left: 1px;
        }
        &__countdown {
            @include tag-alignment($timeline-ipad-landscape-top-alignment, $timeline-ipad-landscape-left-alignment);
        }
        &__trivia {
            @include tag-alignment($timeline-ipad-landscape-top-alignment, $timeline-ipad-landscape-left-alignment);
        }
        &__circle {
            display: none;
        }
        &:before {
            left: 40px;
        }
        /** timeline verticle line **/
        &:before {
            border-left: 3px dotted #eee;
            left: 7px;
        }

        
    }
    .main {
        &__no-result-found {
            top: $nav-offset-collapsed;
        }
    }
    .grid__panel:after {
        display: none !important;
    }
}

@media (max-width: $grid-max-width-mobile) {
    .grid {
        &.\--timeline {
            width: calc(100% - 10px);
            max-width: initial;
        }
    }
}