.sentiment-icon {
  .neutral {
    color: white;
  }

  .negative {
    color: lightcoral;
  }

  .verynegative {
    color: red;
  }

  .positive {
    color: lightgreen;
  }

  .verypositive {
    color: greenyellow;
  }
}