<div ng-switch="$ctrl.getTimelineStatus()" class="main">

  <div class="no-notifications" ng-if="!$ctrl.bags.length">
    You are all caught up on notifications
  </div>

  <div class="container-fluid main__timeline --search">
    <div class="row">

      <div class="col-lg-12" ng-switch="$ctrl.viewType">
        <ul class="timeline" ng-switch-default ng-class="{'--hide-border': !$ctrl.bags.length }">
          <li id="{{bag.toISODateTimeString()}}" class="timeline__group-container" data-ng-repeat="bag in $ctrl.bags"
            waypoint="$ctrl.updateInView(event)">
            <time-block bag="bag" config="$ctrl.appConfig"></time-block>
          </li>
        </ul>

        <ul ng-if="$ctrl.sortedPins.length" class="match__group-section dynamic-grid" ng-switch-when="match">
          <li id="{{pin.id}}" class="grid --timeline" data-ng-repeat="pin in $ctrl.sortedPins"
            ng-class="{'--closest': $ctrl.isPinInClosestFutureBag(pin.id), '--close': $ctrl.isPinInCloseFutureBag(pin.id)}">
            <pin-block pin="pin" config="$ctrl.appConfig" show-search-score="false"></pin-block>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="page_message" ng-switch-when="no match">
    <h3 class="text-muted">
      No results found, please try a different search
    </h3>
  </div>

  <div class="page_loading" ng-switch-when="searching">
    <h3 class="text-muted">
      <loader-pac></loader-pac>
      <!-- searching... -->
    </h3>
  </div>

  <scroll scroll-to-id="$ctrl.getTodaySearchScrollId()"></scroll>
</div>