.comment-count {
    letter-spacing: 3px;

    & a {
        color: $timeline-content-color;
    }

    & .comment-num-count {
        &::before {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            content: "\f086";
            padding-right: 6px;
        }

        &::after {

            content: attr(data-num-comments);
        }

        & .num-comments {
            display: none;
        }
    }
}