.chrono-dollar-highlight {
    .price-tooltip {
        padding: 4px;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
    }

    .price {
        color: var(--primary-color);
    }

    .percentage-change {
        color: var(--primary-color);
    }

    .\--negative {
        color: #bd1414;
    }

    .\--positive {
        color: #008169;
    }

}