<div class="following">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Following</h1>
      </div>

      <div class="col-sm-12" ng-if="!vm.loading && !vm.following.length">
        <p class="text-muted">You're not following anyone yet.</p>
      </div>

      <div class="col-sm-12">
        <ul class="following__list">
          <li class="following__row" ng-repeat="u in vm.following track by u.id">
            <span class="following__avatar" aria-hidden="true">{{u.userName.replace('@', '').charAt(0).toUpperCase()}}</span>
            <span class="following__name">{{u.userName}}</span>
            <follow-button class="following__action" user-id="u.id" user-name="u.userName"></follow-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
