.embed-container,
.embed {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    &.\--margin-top-bottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    // &.\--stretch-fill-pin {
    //     margin-left: -15px;
    //     margin-right: -15px;
    // }
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon_set {
    display: flex;

    a {
        display: inline-block;
    }

    a+a {
        margin-left: 10px;
    }

    .fa {
        font-size: 15px;
        position: relative;
        top: -1px;
    }
}

.thread-icon {
    rotate: 30deg;
    display: inline-block;

    &::after {
        content: '🧵';
    }
}

// .thread-icon {
//     rotate: 30deg;
//     display: inline-block;

//     &::after {
//         content: '🧵';
//     }
// }

/** timeline panels **/
.grid__panel {
    background: var(--grid-panel-bg-color); //border: 1px solid #d4d4d4;
    padding: 7px 0px 7px;
    position: relative;
    border-radius: 8px; //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

    &:focus,
    &:hover {
        box-shadow: 0 0px 12px rgba(255, 255, 255, 0.25);

        .grid__heading {
            &_link {
                cursor: zoom-in;
            }
        }
    }

    &.\--disabled {
        a {
            // cursor: default;
            pointer-events: none;
            // text-decoration: none;
        }
    }
}

pin-block {
    display: inline-block;
    width: 550px;
    max-width: 100%;
}