.embed-container,
.embed {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    &.\--margin-top-bottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    // &.\--stretch-fill-pin {
    //     margin-left: -15px;
    //     margin-right: -15px;
    // }
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.thread-icon {
    rotate: 30deg;
    display: inline-block;

    &::after {
        content: '🧵';
    }
}