<article class="grid__panel">
    <div class="grid__content">
        <div class="grid__headline">
            <div class="headline-left">
                <a class="grid__category rubric" ng-if="$ctrl.pin.category" title="Show all {{$ctrl.pin.category}} pins" ng-click="$ctrl.searchService.refine('category', $ctrl.pin.category)">{{$ctrl.pin.category}}</a>
                <span class="rubric__divider" ng-if="$ctrl.pin.category">/</span>
                <a class="posted-time" ui-sref="pin({id:$ctrl.pin.id})">
                    <time datetime="{{$ctrl.pin.utcCreatedDateTime}}">{{$ctrl.pin.utcCreatedDateTime | date :
                        "MM/dd/yyyy
                        'at' h:mm a" | lowercase}}
                    </time>
                </a>
                <span class="rubric__divider">/</span>
                <a class="rubric" title="Show all {{$ctrl.pin.user.userName}} pins" ng-click="$ctrl.searchService.refine('user', $ctrl.pin.user.userName)">
                    <user-avatar class="rubric__avatar" ng-if="$ctrl.pin.user.pictureUrl" user-name="$ctrl.pin.user.userName" picture-url="$ctrl.pin.user.pictureUrl"></user-avatar>
                    <span>{{$ctrl.pin.user.userName}}</span>
                </a>
            </div>

            <a ui-sref="pin({id:$ctrl.pin.id})">
                <div>
                    <span class="thread-icon" ng-if="!!$ctrl.pin.parentId" title="Part of thread"></span>
                    <span class="thread-icon" ng-if="!!$ctrl.pin.rootThread" title="First Pin in a thread"></span>
                </div>
            </a>
        </div>

        <h4 class="grid__heading">
            <a class="grid__heading_link" ui-sref="pin({id:$ctrl.pin.id})">
                {{$ctrl.pin.title}}
            </a>
        </h4>

        <!-- Switch between image / iframe / tweets -->
        <div class="grid__media" ng-switch="$ctrl.pin.media[0].type">

            <span class="grid__location" ng-if="$ctrl.pin.media[0] && $ctrl.pin.address">
                {{$ctrl.pin.address}}
            </span>

            <div class="grid__tags" ng-if="$ctrl.pin.media[0] && $ctrl.pin.company">
                <span class="grid__company">
                    <a href="" ng-click="$ctrl.searchService.refine('company', $ctrl.pin.company)"
                        title="Show all {{$ctrl.pin.company}} pins">
                        <img class="grid__company-logo" ng-if="$ctrl.pin.companyLogoUrl" ng-src="{{$ctrl.pin.companyLogoUrl}}" hide-broken alt="" loading="lazy" referrerpolicy="no-referrer">
                        {{$ctrl.pin.company}}
                    </a>
                </span>
            </div>

            <div ng-switch-when="1">
                <a class="grid__asset grid__asset--link"
                    ng-if="$ctrl.pin.media[0].thumbName || $ctrl.pin.media[0].originalUrl"
                    ui-sref="pin({id:$ctrl.pin.id})">
                    <img ng-src="{{$ctrl.pin.media[0].thumbName ? ($ctrl.config.thumbUrlPrefix + $ctrl.pin.media[0].thumbName) : $ctrl.pin.media[0].originalUrl}}"
                        img-fallback="{{$ctrl.pin.media[0].thumbName ? $ctrl.pin.media[0].originalUrl : ''}}"
                        class="grid__image" data-actual-height="{{$ctrl.pin.media[0].thumbHeight}}"
                        data-actual-width="{{$ctrl.pin.media[0].thumbWidth}}"
                        height="{{$ctrl.pin.media[0].thumbHeight + 'px'}}"
                        width="{{$ctrl.pin.media[0].thumbWidth + 'px'}}" />
                </a>
            </div>

            <twitter-pin ng-switch-when="2" html="{{$ctrl.pin.media[0].html}}">
            </twitter-pin>

            <div class='embed-container' ng-switch-when="3" ng-bind-html="$ctrl.pin.media[0].html">
            </div>

        </div>

        <div class="grid__body">
            <!-- <div class="grid__uploaded-date" ng-switch="$ctrl.pin.allDay">
                <span ng-switch-when="true">
                    <em>All day</em>
                </span>
                <em ng-switch-default>
                    <span>Start: {{$ctrl.pin.utcStartDateTime | date:"MM/dd/yyyy h:mma"}}</span>
                    <span ng-if="$ctrl.pin.utcEndDateTime">to {{$ctrl.pin.utcEndDateTime | date:"MM/dd/yyyy
                        h:mma"}}</span>
                </em>
            </div> -->
            <!-- No image to overlay these on (see .grid__tags/.grid__location
                 in .grid__media above for the image case), so they get their
                 own line above the date instead. Category is not here - it
                 lives in the headline. -->
            <div class="grid__meta-line"
                ng-if="!$ctrl.pin.media[0] && ($ctrl.pin.company || $ctrl.pin.address)">
                <span class="grid__company" ng-if="$ctrl.pin.company">
                    <a href="" ng-click="$ctrl.searchService.refine('company', $ctrl.pin.company)"
                        title="Show all {{$ctrl.pin.company}} pins">
                        <img class="grid__company-logo" ng-if="$ctrl.pin.companyLogoUrl" ng-src="{{$ctrl.pin.companyLogoUrl}}" hide-broken alt="" loading="lazy" referrerpolicy="no-referrer">
                        {{$ctrl.pin.company}}
                    </a>
                </span>
                <span class="grid__location" ng-if="$ctrl.pin.address">{{$ctrl.pin.address}}</span>
            </div>
            <div class="grid__date-line" ng-if="$ctrl.pin.utcStartDateTime">
                <span class="grid__starts">{{$ctrl.pin.allDay
                    ? ('Starts ' + ($ctrl.pin.utcStartDateTime | date:"MM/dd/yyyy":'UTC'))
                    : ('Starts ' + ($ctrl.pin.utcStartDateTime | date:"MM/dd/yyyy h:mma"))}}</span>
                <pin-weather-icon pin-id="$ctrl.pin.id" start="$ctrl.pin.utcStartDateTime"
                    latitude="$ctrl.pin.latitude" longitude="$ctrl.pin.longitude"></pin-weather-icon>
                <!-- An unverified pin's reasoning only restates that nothing
                     was found, so the card shows the badge alone; the pin page
                     still carries the detail. -->
                <date-confidence level="{{$ctrl.pin.dateConfidence}}"
                    reasoning="{{$ctrl.pin.dateConfidenceReasoning}}"
                    show-reasoning="$ctrl.pin.dateConfidence !== 'unknown'"></date-confidence>
            </div>
            <div class="grid__description" ng-bind-html="$ctrl.pin.description"></div>
        </div>

        <a class="grid__show_more" ui-sref="pin({id:$ctrl.pin.id})" ng-if="$ctrl.isContentOverflown($ctrl.contentEl)">
            show more
        </a>

    </div>

    <div class="grid__footer grid__footer--split">
        <div class="grid__price" ng-class="{'grid__price--negative': $ctrl.pin.price < 0}">
            <span ng-if="$ctrl.pin.price">{{$ctrl.pin.price | money:$ctrl.pin.priceCurrency}}</span>
        </div>

        <!-- Always present, so the pill column stays put. Only pins
             from a free-text search carry a score. -->
        <div class="grid__footer-center">
            <span class="grid__relevance" ng-if="$ctrl.pin.searchScore != null"
                title="How closely this pin matches the search - cosine similarity, higher is closer">
                <span class="grid__relevance-score">{{$ctrl.pin.searchScore | number:2}}</span>
                <span class="grid__relevance-meter" aria-hidden="true">
                    <span class="grid__relevance-fill" ng-style="{width: $ctrl.relevancePercent() + '%'}"></span>
                </span>
            </span>
        </div>

        <div class="grid__social">
            <div class="grid__tip" ng-if="$ctrl.isAdmin()">
                <button class="btn btn-link" ui-sref="main.modalScroller.editPin({id:$ctrl.pin.id})">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>

            <div class="grid__watch" ng-switch="!!$ctrl.pin.hasFavorite">
                <button type="button" class="grid__favorite --add" ng-click="$ctrl.addFavorite($ctrl.pin)"
                    ng-switch-default>
                    <i class="fa fa-eye" aria-hidden="true"></i> {{$ctrl.pin.favoriteCount}}</button>
                <button type="button" class="grid__favorite --remove" ng-click="$ctrl.removeFavorite($ctrl.pin)"
                    ng-switch-when="true">
                    <i class="fa fa-eye" aria-hidden="true"></i> {{$ctrl.pin.favoriteCount}}</button>
            </div>

            <div class="grid__likes">
                <div fb-like page-href="{{$ctrl.pin.sourceUrl}}">
                    <!-- <loader-pulse-bubble></loader-pulse-bubble> -->
                </div>
                <!-- <button type="button" class="grid__like --add" ng-click="$ctrl.addLike($ctrl.pin)" ng-switch-default><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
          <button type="button" class="grid__like --remove" ng-click="$ctrl.removeLike($ctrl.pin)" ng-switch-when="true"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button> {{$ctrl.pin.likeCount}} -->
            </div>

            <!-- <div class="tip pull-right">
          <button type="button" class="btn btn-link" ng-click="$ctrl.info($ctrl.pin)"><i class="fa fa-info" aria-hidden="true" title="{{$ctrl.pin.tip}}"></i></button>
        </div> -->

        </div>
    </div>

</article>