.embed-container,
.embed {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    &.\--margin-top-bottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    // &.\--stretch-fill-pin {
    //     margin-left: -15px;
    //     margin-right: -15px;
    // }
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon_set {
    display: flex;

    a {
        display: inline-block;
    }

    a+a {
        margin-left: 10px;
    }

    .fa {
        font-size: 15px;
        position: relative;
        top: -1px;
    }
}

.thread-icon {
    rotate: 30deg;
    display: inline-block;

    &::after {
        content: '🧵';
    }
}

// .thread-icon {
//     rotate: 30deg;
//     display: inline-block;

//     &::after {
//         content: '🧵';
//     }
// }

/** timeline panels **/
.grid__panel {
    background: var(--grid-panel-bg-color); //border: 1px solid #d4d4d4;
    padding: 7px 0px 7px;
    position: relative;
    border-radius: 8px; //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

    &:focus,
    &:hover {
        box-shadow: 0 0px 12px rgba(255, 255, 255, 0.25);

        .grid__heading {
            &_link {
                cursor: zoom-in;
            }
        }
    }

    &.\--disabled {
        a {
            // cursor: default;
            pointer-events: none;
            // text-decoration: none;
        }
    }
}

pin-block {
    display: inline-block;
    width: 550px;
    max-width: 100%;

    .codex-editor--narrow .link-tool__image {
        display: none;
    }

}

.link-tool {
    &__content {
        position: relative;
        background: #fff;
        border: 1px solid rgba(201, 201, 204, 0.48);
        box-shadow: 0 1px 3px rgba(0,0,0, .1);
        border-radius: 6px;
        will-change: filter;
        animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

        display: block;
        padding: 25px;
        border-radius: 2px;
        box-shadow: 0 0 0 2px #fff;
        color: initial !important;
        text-decoration: none !important;

        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 0 0 30px;
        width: 65px;
        height: 65px;
        border-radius: 3px;
        float: right;
    }

    &__title {
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5em;
        margin: 0 0 10px 0;
    }

    &__description {
        margin: 0 0 20px 0;
        font-size: 15px;
        line-height: 1.55em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__anchor {
        display: block;
        font-size: 15px;
        line-height: 1em;
        color: #888 !important;
        border: 0 !important;
        padding: 0 !important;
    }
}