.toggle_view {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 75px;
    right: 23px;
    z-index: 5;
    opacity: 0.75;

    button {
        border: none;
        height: 35px;
        width: 35px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #AAA;
        color: black;

        &.active {
            color: #AAA;
            background-color: black;
        }

        &:active {
            color: black;
            background-color: #444;
        }
    }
}

.\--close {
    pin-block {
        box-shadow: 0 0px 5px rgba(255, 228, 225, 0.6);
    }
}

.\--closest {
    pin-block {
        box-shadow: 0 0px 5px rgba(255, 215, 0, 0.9);
    }
}


.main__timeline.\--search {
    padding-top: 10px;
}